

img
{
	border: 0px;
}

body
{
	font-family: Arial, Helvetica, sans-serif;
	background-color: white;
	margin: 0px;
	padding: 0px;
	color: #000000;
}

#bg_image
{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
	left: 0px;
	top: 0px;
}

	#bg_image img
	{
		width: 100%;
		display: none;
		repeat-y: repeat;
	}
	
	#bg_image img.bg_image_active
	{
		display: block;
	}

.bg_stanna_yellow
{
	background-color: #ffcd16;
}

#menu_logo
{
	position: fixed;
	width: 220px;
	height: 195px;
	top: 0px;
	z-index: 3000;
	display: none;
}

	#menu_logo img
	{
		position: absolute;
		left: 0px;
		top: 15px;
		width: 100%;
	}
	
	#menu_logo_shadow_bottom
	{
		position: absolute;
		left: -9px;
		top: 195px;
		width: 238px;
		height: 9px;
		z-index: 3000;
		background-image: url('../img/logo_shadow_bottom.png');
		background-repeat: no-repeat;
		background-position: 0px 0px;	
	}
	
	#menu_logo_shadow_left
	{
		position: absolute;
		left: -9px;
		top: 60px;
		width: 9px;
		height: 144px;
		z-index: 3000;
		background-image: url('../img/logo_shadow_left.png');
		background-repeat: no-repeat;
		background-position: 0px 0px;		
	}
	
	#menu_logo_shadow_right
	{
		position: absolute;
		left: 220px;
		top: 60px;
		width: 9px;
		height: 144px;
		z-index: 3000;
		background-image: url('../img/logo_shadow_right.png');
		background-repeat: no-repeat;
		background-position: 0px 0px;		
	}	

#menu_upper
{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 60px;
	z-index: 2000;
	background-color: #ffffff;
}

	#menu_upper_container
	{
		position: relative;
		overflow: hidden;
		line-height: 30px;
		margin-top: 20px;
		margin-bottom: 10px,
	}
	
		.upper_menu_left
		{
			position: relative;
			float: left;
			vertical-align: middle;
			height: 30px;
			width: auto;
		}
		
		#menu_upper_container_social
		{
			position: relative;
			float: right;
		}
		
			.upper_menu_newsletter
			{
				border: solid 2px #282828;
				line-height: 18px;
				font-family: 'omnes_regularregular';
				font-size: 10px;
				padding: 4px 35px;
				text-transform: uppercase;
				vertical-align: middle;
				background-color: #ffffff;
			}
			
			.upper_menu_right
			{
				position: relative;
				float: right;
				vertical-align: middle;
				margin-left: 10px;
				cursor: pointer;
			}
		
			
			.upper_menu_social
			{
				height: 30px;
				width: auto;
			}
		
	.logo_small
	{
		position: absolute;
		height: 90px;
		top: 5px;
		left: 15px;
		width: auto;
		z-index: 3000;
		display: none;
	}
	
		.logo_small img
		{
			vertical-align: middle;
			width: auto;
			height: 100%;
		}

#donate_overlay
{
	position: fixed;
	height: 230px;
	width: 60px;
	top: 320px;
	right: 0px;
	z-index: 2000;
	overflow: hidden;
}

	#donate_overlay_preview
	{
		position: absolute;
		left: -85px;
		top: 85px;
		background-color: #e52321;
		color: #ffffff;
		width: 230px;
		line-height: 60px;
		text-align: center;
		font-size: 18px;
		font-weight: bold;
		font-family: 'omnes_regularregular';
		letter-spacing: 3px;
		cursor: pointer;
		
		-webkit-transform: rotate(270deg);
	    -moz-transform: rotate(270deg);
	    -o-transform: rotate(270deg);
	    -ms-transform: rotate(270deg);
	    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	    transform: rotate(270deg);
	}
	
	#donate_overlay_donation
	{
		position: absolute;
		left: 60px;
		top: 0px;
		height: 190px;
		width: 300px;
		padding: 20px;
		background-image: url('../img/donate_overlay_bg.png');
		background-position: center center;
		background-repeat: repeat;
	}
	
		#donate_overlay_donation_headline
		{
			position: relative;
			color: #e52321;
			font-size: 29px;
			font-family: 'open_sans_condensedbold';
			margin-top: -10px;
		}
		
		#donate_overlay_donation_box_container
		{
			position: relative;
			width: 100%;
			overflow: hidden;
			margin-top: 10px;
		}
		
			.donate_overlay_donation_box
			{
				position: relative;
				float: left;
				width: 125px;
				height: 75px;
				background-color: rgba(255,255,255, 0.5);
				padding: 10px;
			}
			
				.donate_donation_box_label, .donate_overlay_donation_box span
				{
					position: relative;
					font-size: 16px;
					font-family: 'open_sans_condensedbold';
					text-transform: uppercase;
				}
				
				
				.donation_box_radio_label
				{
					padding: 5px 0px 5px 30px;
					background-image: url('../img/lema_radio_unchecked.png');
					background-position: 4px 4px;
					background-repeat: no-repeat;
					line-height: 28px;
					font-family: 'open_sansregular';
					font-size: 14px;
					cursor: pointer;
				}
			
				.donation_box_radio
				{
					display: none;	
				}
				
				
				
				.donation_box_radio:checked + label
				{
					background-image: url('../img/lema_radio_checked.png');
				}
				
				.donation_box_text
				{
					position: relative;
					width: 70px;
					border: 0px;
					background-color: #ffffff;
					margin-top: 15px;
					padding: 5px;
					text-align: right;
					font-family: 'open_sans_condensedbold';
					font-size: 15px;
				}
			
			.donate_overlay_donation_box:first-child
			{
				margin-right: 10px;
			}
			
			
			
		#donate_overlay_donation_button
		{
			position: relative;
			margin-left: 80px;
			margin-right: 80px;
			width: 140px;
			line-height: 30px;
			text-align: center;
			color: #ffffff;
			font-size: 11px;
			font-weight: bold;
			font-family: 'omnes_regularregular';
			background-color: #e52321;
			margin-top: 25px;
			cursor: pointer;
		}	
		
		#donate_overlay_donate_logo
		{
			position: absolute;
			right: 20px;
			bottom: 20px;
			width: 45px;
		}
	
		
#menu_shadow_bottom
{
	position: fixed;
	left: 0px;
	top: 60px;
	width: 100%;
	height: 9px;
	z-index: 2000;
	background-image: url('../img/menu_shadow_bottom.png');
	background-repeat: repeat-x;
	background-position: 0px 0px;	
}
		
#menu
{
	position: fixed;
	top: 60px;
	left: 0px;
	height: 50px;
	width: 100%;
	z-index: 1000;
}

	#menu a
	{
		text-decoration: none;
		color: inherit;
	}

	#menu_container
	{
		position: relative;
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		overflow: hidden;
	}
	
		#menu_container li
		{
			position: relative;
			float: left;
			font-family: 'omnes_regularregular';
			font-weight: bold;
			font-size: 13px;
			margin-right: 40px;
			line-height: 50px;
			text-transform: uppercase;
			cursor: pointer;
		}
		
		#menu_container li.menu_item_search
		{
			margin-right: 0px;
			float: right;
		}
		
			.menu_item_search img
			{
				margin-top: 14px;
			}
		
		#menu_container li:hover
		{
			text-decoration: underline;
		}

	.submenu
	{
		position: fixed;
		background-color: rgba(255,255,255,0.9);
		top: 110px;
		z-index: 900; 
		padding: 0px 15px;
		height: 0px;
		overflow: hidden;
	}
	
		.submenu ul
		{
			position: relative;
			float: left;
			list-style-type: none;
			margin: 0px;
			padding: 0px;
			margin-right: 15px;
		}
		
			.submenu li
			{
				position: relative;
				color: #000000;
				line-height: 25px;
				font-size: 15px;
				font-family: 'omnes_regularregular';
				cursor: pointer;
			}
			
			.submenu li:hover
			{
				text-decoration: underline;
			}
			
			.submenu li a
			{
				color: inherit;
			}
		
		.submenu_img
		{
			position: relative;
			float: left;
			width: auto;
			margin-right: 30px;
		}
		
			.submenu_img img
			{
				width: 100%;
				vertical-align: middle;
			}

#container
{
	
	position: relative;
	z-index: 500;
	border-top: solid 15px #ffffff;
	border-bottom: solid 15px #ffffff;
	margin-top: 110px;
}

	
	#headline_container
	{
		position: relative;
		width: 770px;
		height: 325px;
		overflow: hidden;	
	}

		.headline
		{
			position: relative;
			padding: 15px;
			display: table-cell;
			z-index: 1000;
		}
		
			.headline a
			{
				color: inherit;
				text-decoration: none;
			}
		
			.headline_text
			{
				position: relative;
				font-family: 'omnes_regularregular';
				font-size: 30px;
				padding-left: 8px;
				padding-right: 8px;
			}
			
				.headline_text a
				{
					color: inherit;
					text-decoration: underline;
				}
			
		.headline_img
		{
			position: absolute;
			left: 0px;
			top: 0px;
			overflow: hidden;
			z-index: 750;
			display: none;
		}

			.headline_img img
			{
				width: 100%;
				vertical-align: middle;
			}
			
		.headline_video
		{
			position: absolute;
			left: 0px;
			top: 0px;
			overflow: hidden;
			z-index: 750;
			display: none;
		}	
		
			.headline_video iframe
			{
				position: absolute;
				left: 0px;
				top: 0px;
				width: 100%;
				height: 100%;
			}
		

		
	#articles
	{
		position: relative;
		border-top: solid 15px #ffffff;
		background-color: #ffffff;
	}	
	
		#articles a
		{
			color: inherit;
		}
	
		.article
		{
			position: relative;
			width: 250px;
			height: 300px;
		}
		
			
		
			.article_headline
			{
				position: relative;
				width: 230px;
				background-color: #ffcd16;
				color: #4a4a49;
				padding: 10px;
				font-size: 14px;
				font-family: 'omnes_regularregular';
				font-weight: bold;
				height: 34px;
				display: table-cell;
				vertical-align: top;
			}
			
				.article_headline a
				{
					text-decoration: none;
					color: inherit;
				}
			
			.article_teaserimg
			{
				position: relative;
				width: 250px;
				height: 144px;
				vertical-align: middle;
			}
			
			.article_teasertext
			{
				position: relative;
				font-size: 13px;
				font-family: 'omnes_regularregular';
				width: 230px;
				padding: 0px 10px 0px 10px;
				margin: 5px 0px;
				height: 66px;
				overflow: hidden;
			}
			
			.article_readmore
			{
				position: relative;
				margin-left: 10px;
				font-size: 10px;
				font-family: 'omnes_regularregular';
				text-transform: uppercase;
				height: 30px;
				cursor: pointer;
			}
			
				.article_readmore a
				{
					color: inherit;
				}

			
			
#footer
{
	position: relative;
	width: 100%;
	background-color: #ffffff;
	border-top: solid 1px #000000;
	z-index: 700;
	padding-bottom: 30px;
	display: block;
}

	#footer a
	{
		color: inherit;
	}

	#footer_container
	{
		position: relative;
		width: 100%;
		font-family: 'omnes_regularregular';
		color: #4a4a49;
	}
	
		#footer_social
		{
			position: relative;
			overflow: hidden;
			border-bottom: solid 1px #000000;
		}
		
			.footer_social_item
			{
				position: relative;
				float: left;
				width: 30px;
				margin-right: 10px;
				cursor: pointer;
			}
			
			.contact_column_header
			{
				font-weight: bold;
				font-size: 16px;
				text-transform: uppercase;
			}
			
			#footer_newsletter, #contact_newsletter
			{
				position: relative;
				float: left;
				color: #4a4a49;
				line-height: 28px;
				vertical-align: middle;
				width: 200px;
				font-size: 15px;
				padding: 0px 4px;
				border: solid 1px #4a4a49;
			}
			
			#footer_newsletter_register, #contact_newsletter_register
			{
				position: relative;
				float: left;
				line-height: 30px;
				background-color: #4a4a49;
				color: white;
				cursor: pointer;
				font-size: 14px;
				text-align: center;
				padding: 0px 7px;
				margin-left: 15px;
			}
			
			#footer_newsletter_success, #contact_newsletter_success
			{
				position: relative;
				float: left;
				line-height: 30px;
				width: 202px;
				color: #4a4a49;
				vertical-align: left;
				text-transform: uppercase;
				font-size: 18px;
				display: none;
			}
		
		#footer_donations
		{
			position: relative;
			overflow: hidden;
			border-bottom: solid 1px #000000;
		}
		
			.footer_donations_header
			{
				position: relative;
				font-weight: bold;
				font-size: 13px;
			}
			
			.footer_donations_text
			{
				position: relative;
				font-size: 13px;
				margin-bottom: 20px;
			}
			
			#footer_donations_donatenow
			{
				position: relative;
				background-color: #4a4a49;
				color: white;
				text-transform: uppercase;
				line-height: 30px;
				text-align: center;
				vertical-align: middle;
				width: 120px;
				cursor: pointer;
				font-size: 14px;
			}
			
				#footer_donations_donatenow a
				{
					color: inherit;
					text-decoration: none;
				}
			
			.footer_seals
			{
				position: relative;
				margin-top: 52px;
			}
			
				.footer_seals img:first-child
				{
					margin-right: 15px;
				}
				
				.footer_seals img
				{
					vertical-align: center;
				}
			
		#footer_menu
		{
			position: relative;
			border-bottom: solid 1px #000000;
		}	
		
			#footer_menu ul
			{
				position: relative;
				padding: 0px;
				margin: 0px;
				overflow: hidden;
				list-style-type: none;				
			}
			
			.footer_menu_item
			{
				position: relative;
				float: left;
				margin-right: 15px;
				font-weight: bold;
				font-size: 13px;
				text-transform: uppercase;
				line-height: 45px;
			}
			
				#footer_menu li a
				{
					color: inherit; 
					text-decoration: none;
				}
				
				.footer_menu_align_right
				{
					float: right;
					margin-right: 0px;
					margin-left: 15px;
					height: 29px;
					margin-top: 8px;
				}	
			
		#footer_copyright
		{
			position: relative;
			margin-top: 20px;
		}
		
			.footer_copyright_header, .footer_copyright_text
			{
				position: relative;
				text-align: center;
				font-size: 12px;
			}
			
			.footer_copyright_header
			{
				font-weight: bold;
				margin-bottom: 7px;
			}

		
			
		.footer_column_header
		{
			position: relative;
			margin-top: 25px;
			margin-bottom: 25px;
			font-weight: bold;
			font-size: 16px;
			text-transform: uppercase;
		}	
		
		.footer_column
		{
			position: relative;
			float: left;
			margin-bottom: 20px;
		}
		

#article
{
	position: relative;
	z-index: 500;
	margin-top: 110px;
	width: 800px;
	background-color: #ffffff;
	font-family: 'omnes_regularregular';
	overflow: hidden;
}

	#article a
	{
		color: inherit;
	}

	#article_sidebar
	{
		position: relative;
		float: left;
		width: 245px;
		margin-right: 15px;
		margin-top: 20px;
		text-align: center;
	}
	
		.sidebar_link_img
		{
			position: relative;
			max-width: 245px;
			
		}
	
		#article_sidebar_donate
		{
			position: relative;
			width: 100%;
		}
		
		.right_side_img
		{
			position: absolute;
			left: 0px;
			width: 245px;
		}
		
			.right_side_img img
			{
				position: relative;
				vertical-align: middle;
				max-width: 245px;
			}
		
			.right_side_img_text
			{
				position: relative;
				font-size: 10px;
			}

	#article_content
	{
		position: relative;
		float: left;
		width: 540px;
		min-height: 650px;
		margin-top: 20px;
	}	
	
		.article_content_subsite
		{
			margin-bottom: 20px;
		}
		
		#article_headline
		{
			position: relative;
			float: left;
			font-weight: bold;
			width: 510px;
			font-size: 30px;
			padding: 10px 0px 20px 0px;
			margin: 0px 15px;
			color: #ffcd16;
		}

		#article_sharing
		{
			position: relative;
			float: left;
			border-top: solid 1px #000000;
			width: 510px;
			padding: 20px 0px 20px 0px;
			margin: 15px 15px 0px 15px;
		}
		
			#article_sharing_text
			{
				position: relative;
				font-weight: bold;
				font-size: 16px;
				margin-right: 15px;
			}
		
			#article_sharing ul
			{
				overflow: hidden;
				margin: 0px;
				padding: 0px;
				float: left;
			}
			
			#article_sharing li
			{
				position: relative;
				float: left;
				line-height: 30px;
			}
			
			#article_createddate
			{
				position: relative;
				font-size: 12px;
				font-style: italic;
				float: right;
			}
			
			
			
.container_donation
{
	background-color: #ffffff;
	font-family: 'omnes_regularregular';
}

.container_donation input, .container_donation select
{
	font-family: 'omnes_regularregular';
}
			
#donation_form
{
	position: relative;
}

	.donation_step
	{
		position: relative;
		width: auto;
	}
		
		.donation_step_header
		{
			position: relative;
			font-size: 23px;
			font-weight: bold;
			font-family: 'open_sans_condensedbold';
			margin: 20px 60px 25px 60px;
			color: #e52321;
			text-transform: uppercase;
		}
		
	#donation_sum
	{
		position: relative;
		overflow: hidden;
		margin: 0px 60px;
	}
		.donation_amount
		{
			position: relative;
			float: left;
			width: 90px;
			line-height: 45px;
			color: #494948;
			text-align: center;
			border-radius: 4px;
			font-size: 20px;
			font-weight: bold;
			background-color: #ffffff;
			margin-right: 15px;
			cursor: pointer;
		}	
		
		.donation_amount:hover, .donation_amount.active
		{
			background-color: #ffcd16;
		}
		
		.custom_amount
		{
			position: relative;
			margin-right: 0px;
			width: 210px;
			line-height: 45px;
			line-height: none;
			overflow: hidden;
			
		}
			.custom_amount span
			{
				position: relative;
				line-height: 45px;
				float: left;
				margin-left: 10px;
			}
		
			.custom_amount input
			{
				position: relative;
				width: 170px;
				height: 30px;
				border: 0px;
				text-align: center;
				font-size: 20px;
				float: right;
				border: solid 1px #494948;
				margin-top: 7px;
				margin-right: 10px;
				text-align: right;
				padding-right: 3px;
				background-color: inherit;
				color: #494948;
				font-family: 'omnes_regularregular';
			}

	#donation_payment
	{
		position: relative;
		overflow: hidden;
		margin: 0px 60px 15px 60px;
	}
	
		.donation_payment_option
		{
			position: relative;
			float: left;
			width: 196px;
			line-height: 45px;
			color: #494948;
			text-align: center;
			border-radius: 3px;
			font-size: 15px;
			font-weight: bold;
			margin-right: 25px;
			cursor: pointer;
		}
		
		.donation_payment_option:last-child
		{
			margin-right: 0px;
		}
		
		.donation_payment_option:hover, .donation_payment_option.active
		{
			background-color: #ffcd16;
		}
		
		.donation_payment_detail
		{
			position: relative;
			display: none;
			margin: 10px;
			font-family: 'omnes_regularregular';
			margin: 0px 60px;
		}
		
			#cc_type
			{
				position: relative;
				width: 320px;
				height: 30px;
				font-size: 16px;
				border: solid 1px #494948;
				color: #494948;
				float: left;
				margin-right: 8px;
			}
			
			#cc_number
			{
				position: relative;
				width: 315px;
				height: 30px;
				font-size: 16px;
				border: solid 1px #494948;
				color: #494948;
				float: left;
				padding-left: 3px;
			}
			
			#cc_cvn, #cc_exp_month, #cc_exp_year
			{
				position: relative;
				float: left;
				width: 63px;
				padding-left: 3px;
				font-size: 16px;
				border: solid 1px #494948;
				color: #494948;
				height: 30px;
				margin-top: 8px;
				text-align: center;
			}
				#cc_cvn
				{
					margin-right: 260px;
				}
				
				#cc_exp_month
				{
					margin-right: 8px;
				}
		
			#paypal_header
			{
				position: relative;
				font-size: 16px;
				font-weight: bold;
			}
			
			#paypal_text
			{
				position: relative;
				font-size: 14px;
			}
			
			#eps_bank
			{
				position: relative;
				width: 320px;
				font-size: 16px;
				border: solid 1px #494948;
				color: #494948;
				height: 30px;
			}
			
			#eps_text
			{
				position: relative;
				font-size: 14px;
				margin-top: 10px;
				height: 30px;
			}
		

	#donation_personal
	{
		position: relative;
		margin: 0px 60px;
	}
			
		.personal_input_half, .personal_input_full, #personal_bday_day, #personal_bday_month, #personal_bday_year, .personal_input_quarter, .personal_input_3quarter
		{
			position: relative;
			float: left;
			width: 315px;
			border: solid 1px #494948;
			color: #494948;
			margin-bottom: 8px;
			height: 30px;
			font-size: 16px;
			padding-left: 3px;			
		}

		.personal_input_full
		{
			width: 645px;
			float: none;
		}
		
		.personal_input_quarter
		{
			width: 161px;
		}
		
		.personal_input_3quarter
		{
			width: 471px;
		}
		
		#personal_firstname, #personal_street, #personal_zip, #personal_email
		{
			margin-right: 8px;
		}
		
		#personal_bday_day, #personal_bday_month, #personal_bday_year
		{
			width: 60px;
			margin-right: 8px;
			text-align: center;
		}
		
		#donation_personal_bday
		{
			position: relative;
			float: left;
			line-height: 30px;
			font-size: 16px;
			width: 99px;
			color: #494948;
			font-weight: bold;
			text-align: left;
			margin-right: 10px;
		}
		
		#personal_bday_year
		{
			margin-right: 0px;
		}
		
		#personal_country
		{
			position: relative;
			width: 320px;
			height: 30px;
			font-size: 16px;
			border: solid 1px #494948;
			color: #494948;
			
		}
		
	#donation_send
	{
		position: relative;
		margin-top: 70px;
	}	
	
		#donation_button
		{
			position: relative;
			width: 50%;
			margin-left: auto;
			margin-right: auto;
			background-color: #e52321;
			color: #ffffff;
			text-align: center;
			font-size: 20px;
			line-height: 40px;
			font-weight: bold;
			cursor: pointer;
			font-family: 'open_sans_condensedbold';
		}
		

		
.filtered_articles
{
	position: relative;
	background-color: #ffffff;
	font-family: 'omnes_regularregular';
}

	.article_preview, .subsite_preview
	{
		position: relative;
		width: 750px;
		padding: 10px;
		background-color: #ffcd16;
		margin-top: 15px;
	}
	
	
	
	.article_preview:first-child
	{
		margin-top: 0px;
	}
	
	
		.article_preview_headline
		{
			position: relative;
			width: 100%;
			font-size: 18px;
			font-weight: bold;
			margin-bottom: 5px;
		}
		
			.article_preview_headline a
			{
				text-decoration: none;
				color: inherit;
			}
		
		.article_preview_dataline
		{
			position: relative;
			overflow: hidden;
			font-size: 14px;
			margin-bottom: 8px;
		}
		
			.article_preview_creator
			{
				position: relative;
				float: left;
				text-decoration: underline;
				margin-left: 10px;
			}
		
			.article_preview_date
			{
				position: relative;
				float: left;
				
			}
			
		.article_preview_contentline
		{
			position: relative;
			overflow: hidden;
			font-size: 13px;
		}	
		
			
			
			.subsite_preview_text a, .article_preview_text a
			{
				color: inherit;
			}
		
			.article_preview_text, .subsite_preview_text
			{
				position: relative;
				float: left;
				font-size: 15px;
				width: 450px;
			}
			
			.subsite_preview_text
			{
				max-height: 170px;
				overflow: hidden;
				width: 750px;
			}
			
				.article_preview_readmore
				{
					position: relative;
					font-size: 13px;
					font-family: 'omnes_regularregular';
					text-transform: uppercase;
					height: 20px;
					cursor: pointer;
					margin-top: 5px;
				}
				
					.article_preview_readmore a
					{
						color: inherit;
					}
	
			.article_preview_image
			{
				position: relative;
				float: left;
				margin-right: 10px;
				width: 250px;
			}
			
				.article_preview_image img
				{
					max-width: 250px;
					vertical-align: middle;
				}
	
	.gallery_item_holder
	{
		width:160px;
		line-height:160px;
		overflow:hidden;
		float:left;
		margin-right:5px; 
		margin-bottom:5px;
	}
	.gallery_item_holder .gallery_image
	{
		max-width: 160px;
		max-height: 160px;
		vertical-align: middle;
		width: auto;
		height: auto;
	}
	

.donate_overlay_button
{
	position: fixed;
	top:460px;
	right:0px;
	width: 60px;
	cursor:pointer;
	z-index:1000;
	
}



#search_overlay
{
	position: fixed;
	right: 15px;
	top: 80px;
	width: 200px;
	height: 25px;
	background-color: #ffffff;
	border: solid 2px #4a4a49;
	z-index: 900;
}

	#search_overlay input
	{
		position: relative;
		border: 0px;
		width: 190px;
		line-height: 25px;
		margin: 0px;
		padding: 0px 5px;
		font-family: 'omnes_regularregular';
	}

	
	
#toyshop_headline
{
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 25px;
	color: #e52321;
	font-family: 'open_sans_condensedbold';
	margin-left: 40px;
	width: 620px;
}

#toyshop_subheadline
{
	margin-left: 95px;
	width: 575px;
}

#donation_extra
{
	position: relative;
	margin: 20px 0px 20px 85px;
	line-height: 48px;
	width: 530px;
}

	.toy_extra_amount
	{
		width: 50px;
		text-align: center;
		font-size: 15px;
		margin-left: 5px;
		float: right;
		padding: 0px 20px;
		border: #ccc 1px solid;
		height: 46px; 
		line-height: 1.2;
		font-size: 18px;
	} 

#donation_summary
{
	margin-left: 85px;
	width: 530px;
	line-height: 48px;
}

	#donation_total
	{
		float: right;
		line-height: 48px;
		border-radius: 5px;
		font-weight: bold;
		margin: 0px 0px 0px 5px;
		background-color: #ffcd16;
		width: 90px;
		text-align: center;
	}
	
#donation_infotext
{
	margin-left: 85px;
	width: 530px;
	font-size: 11px;
	margin-top: 10px;
}	
	
#pet_container
{
	position: relative;
	margin-bottom: 20px;
	width: 100%;
	margin: 40px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}	

	.toy
	{
		position: relative;
		width: 530px;
		padding: 10px 0px;
		overflow: hidden;
		margin-left: 45px;
	}
	
		.toy_image
		{
			position: relative;
			width: 200px;
			float: left;
		}
		
			.toy_image img
			{
				vertical-align: middle;
				width: 200px;
			}
		
		.toy_desc
		{
			position: relative;
			font-size: 15px;
			color: #000000;
			font-family: 'omnes_regularregular';
			margin-left: 15px;
			width: 315px;
			overflow: hidden;
			float: left;
		}
		
			.toy_text
			{
				position: relative;
				margin: 10px 0px;
				float: left;
			}
			
			.toy_orderinfo
			{
				position: relative;
				overflow: hidden;
				float: left;
			}
			
				.toy_price
				{
					position: relative;
					width: 115px;
					float: left;
					text-align: left;
					line-height: 48px;
				}
				
				.toy_orderamount
				{
					position: relative;
					width: 200px;
					float: left;
					text-align: right;
					height: 48px;
					line-height: 48px;
					overflow: hidden;
				}
				
					.toy_orderamount label
					{
						position: relative;
						line-height: 48px;
						float: right;
						width: 55px;
					}
				
					.toy_input
					{
						width: 50px;
						text-align: center;
						font-size: 15px;
						margin-left: 5px;
						float: right;
						padding: 0px 20px;
						border: #ccc 1px solid;
						height: 46px; 
						line-height: 1.2;
						font-size: 18px;
					}
					
						.toy_input:focus
						{
							border: solid 1px #000000;
							outline: 0;
						}
					
					.toy_amount_save
					{
						width: 80px;
						line-height: 23px;
						background-color: #ffffff;
						border: solid 1px #000000;
						padding: 0px;
						cursor: pointer;
						float: right;
						margin-left: 10px;
						text-align: center;
					}
			
		

					
					
		#donate_overlay_donation_box_container2
		{
			position: relative;
			width: 100%;
			overflow: hidden;
			margin-top: 10px;
		}
		
			.donate_overlay_donation_box2
			{
				position: relative;
				margin-left: 31px;
				width: 125px;
				height: 75px;
				background-color: rgba(255,255,255, 0.5);
				padding: 15px 30px;
				margin-bottom: 10px;
			}
			
				.donate_donation_box_label2, .donate_overlay_donation_box2 span
				{
					position: relative;
					font-size: 16px;
					font-family: 'open_sans_condensedbold';
					text-transform: uppercase;
				}
				
				
				.donation_box_radio_label2
				{
					padding: 5px 0px 5px 30px;
					background-image: url('../img/lema_radio_unchecked.png');
					background-position: 4px 4px;
					background-repeat: no-repeat;
					line-height: 28px;
					font-family: 'open_sansregular';
					font-size: 14px;
					cursor: pointer;
				}
			
				.donation_box_radio2
				{
					display: none;	
				}
				
				
				
				.donation_box_radio2:checked + label
				{
					background-image: url('../img/lema_radio_checked.png');
				}
				
				.donation_box_text2
				{
					position: relative;
					width: 70px;
					border: 0px;
					background-color: #ffffff;
					margin-top: 15px;
					padding: 5px;
					text-align: right;
					font-family: 'open_sans_condensedbold';
					font-size: 15px;
				}
			
			.donate_overlay_donation_box2:first-child
			{
				margin-top: 20px;
			}
			
			
			
		#donate_overlay_donation_button2
		{
			position: relative;
			margin-left: 55px;
			width: 140px;
			line-height: 30px;
			text-align: center;
			color: #ffffff;
			font-size: 11px;
			font-weight: bold;
			font-family: 'omnes_regularregular';
			background-color: #e52321;
			margin-top: 0px;
			cursor: pointer;
		}	
		
		#donate_overlay_donate_logo2
		{
			position: absolute;
			right: 20px;
			bottom: 20px;
			width: 45px;
		}					
					
		
/* MOBILE MENU*/
#mobileMenu
{
	position: absolute;
	top: -1500px;
	left: 0px;
	width: 100%;
	z-index: 8000;
	background: #ffcd16;
}

	#mobileMenu a
	{
		text-decoration: none;
		color: inherit;
	}

#mobile_menu_button
{
	position:absolute;
	right:10px;
	top:18px;
}
.mobile_menu_item
{
	width:100%;
	height:36px;
	line-height:36px;
	text-align:center;
	margin:3px 0px;
	background: #ffcd16;
}	

.mobile_submenu
{
	position: absolute;
	top: -1500px;
	left: 0px;
	width: 100%;
	z-index: 8000;
}
	.mobile_submenu a
	{
		text-decoration: none;
		color: inherit;
	}
	
	
	.mobile_submenu_item
	{
		width:100%;
		height:36px;
		line-height:36px;
		text-align:center;
		margin:3px 0px;
		background: #ffcd16;
	}	

#error_404
{
	margin: 50px 15px 150px 15px;
	font-size: 16px;
	font-weight: bold;
}

#cookie_warning
{
	position: fixed;
	z-index: 10000;
	left: 0px;
	bottom: 0px;
	width: 100%;
	overflow: hidden;
	background-color: #ffcd16;
	color: #000000;
	border-top: solid 1px #000000;
}

	#cookie_warning_text
	{
		position: relative;
		margin: 20px 20px 10px 20px;
		line-height: 25px;
		font-size: 18px;
	}
	
	#cookie_warning_button
	{
		border: solid 2px #000000;
		width: 100px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		font-size: 14px;
		font-weight: bold;
		margin: 0px 20px 20px 20px;
		cursor: pointer;
	}
