

.content_name
{
	position: relative;
	margin-bottom: 8px;
	font-size: 17px;
	color: #000000;
	
}

#content_container
{
	position: relative;
	float: left;
	margin-left: 50px;
	margin-right: 20px;
}

	#article_content
	{
		position: relative;
		width: 540px;
		border: solid 1px #000000;
		min-height: 50px;
		padding: 15px 0px;
		overflow: hidden;
	}


#hidden_elements
{
	display: none;
}	

#content_edit
{
	position: relative;
	overflow: hidden;
	margin-top: 10px;
}

#content_data
{
	position: relative;
	float: left;
}

	#module_list
	{
		position: relative;
		width: 250px;
		padding: 10px;
		border: solid 1px #000000;
		margin-bottom: 10px;
	}
	
		.module_item
		{
			position: relative;
			text-align: center;
			line-height: 30px;
			cursor: pointer;
			border: solid 1px #000000;
			margin-top: 3px;
			z-index: 10000;
			width: 248px;
		}
		
		.module_item:first-child
		{
			margin-top: 0px;
		}

	
	#module_properties
	{
		position: relative;
		border: solid 1px #000000;
		padding: 10px;
		background-color: #ffcd16;
		font-family: 'open_sansregular';
		display: none;
	}
	
		#module_properties table
		{
			position: relative;
			border-collapse: collapse;
			border: 0px;
			width: 100%;
		}
		
			#module_properties tr
			{
		
			}
			
				#module_properties td
				{
					border: 0px;
					padding: 2px 0px 2px 0px;
				}
				
					.module_properties_label
					{
						width: 100px;
						margin-right: 15px;
					}
					
					.module_properties_input
					{
						width: 150px;
					}
					
					
				
				#module_properties td label
				{
					font-size: 13px;
					font-weight: bold;
					color: #666666;
					text-align: left;
					height: 18px;
				}
				
				#module_properties td input[type='text']
				{
					font-size: 12px;
					background-color: #ffffff;
					color: #000000;
					text-align: right;
					height: 18px;
				}
				
				#module_properties td select
				{
					font-size: 12px;
					background-color: #ffffff;
					color: #000000;
					text-align: right;
					height: 20px;
					width: 150px;
				}
				
				.module_properties_button
				{
					position: relative;
					width: 100%;
					line-height: 22px;
					background-color: #666666;
					color: #ffffff;
					font-size: 13px;
					text-align: center;
					cursor: pointer;
				}
				
				#module_properties td input[type='file']
				{
					display: none;
				}
	
		.module_options
		{
			position: absolute;
			right: 12px;
			top: -20px;
			overflow: hidden;
			z-index: 10;
			background-color: #d2d2d2;
		}		
				
			.module_option
			{
				position: relative;
				float: left;
				text-align: center;
				vertical-align: middle;
				cursor: pointer;
				width: 20px;
				height: 20px;
				
			}	
	
				.module_anchor
				{
					background-image: url('../img/icon_move.png');
					background-repeat: no-repeat;
					background-position: center center;
				}
	
				.module_remove
				{
					background-image: url('../img/icon_close.png');
					background-repeat: no-repeat;
					background-position: center center;
				}	
				
				.module_html
				{
					background-image: url('../img/icon_html.png');
					background-repeat: no-repeat;
					background-position: center center;	
				}
				
				.module_preview
				{
					background-image: url('../img/icon_preview.png');
					background-repeat: no-repeat;
					background-position: center center;	
				}				

		.module_text_styling
		{
			position: absolute;
			top: -20px;
			left: 14px;
			overflow: hidden;
			z-index: 10;
			background-color: #d2d2d2;
		}
		
			.styling_option
			{
				position: relative;
				float: left;
				width: 20px;
				height: 20px;
				cursor: pointer;
				text-align: center;
				vertical-align: middle;
			}
			
				.styling_bold
				{
					background-image: url('../img/icon_bold.png');
					background-repeat: no-repeat;
					background-position: center center;		
				}
				
				.styling_italic
				{
					background-image: url('../img/icon_italic.png');
					background-repeat: no-repeat;
					background-position: center center;		
				}
				
				.styling_underline
				{
					background-image: url('../img/icon_underline.png');
					background-repeat: no-repeat;
					background-position: center center;		
				}
				
				.styling_sub
				{
					background-image: url('../img/icon_sub.png');
					background-repeat: no-repeat;
					background-position: center center;		
				}

				.styling_sup
				{
					background-image: url('../img/icon_sup.png');
					background-repeat: no-repeat;
					background-position: center center;		
				}				
				
				.styling_link
				{
					background-image: url('../img/icon_link.png');
					background-repeat: no-repeat;
					background-position: center center;		
				}
				
				.styling_bulletpoint
				{
					background-image: url('../img/icon_bulletpoint.png');
					background-repeat: no-repeat;
					background-position: center center;		
				}
				
				.styling_h1
				{
					background-image: url('../img/icon_h1.png');
					background-repeat: no-repeat;
					background-position: center center;		
				}
				
				.styling_h2
				{
					background-image: url('../img/icon_h2.png');
					background-repeat: no-repeat;
					background-position: center center;		
				}
				
				
		.text_edit_popup
		{
			position: fixed;
			width: 400px;
			height: 300px;
			left: 50%;
			top: 50%;
			margin-left: -200px;
			margin-top: -150px;
			background-color: #d2d2d2;
			z-index: 100;
			font-family: 'open_sansbold';
		}

			.text_edit_popup_headline
			{
				position: relative;
				width: 360px;
				background-color: #ffcd16;
				color: #666666;
				font-size: 20px;
				line-height: 30px;
				padding: 0px 20px;
			}
			
			.text_edit_popup_content
			{
				position: relative;
				width: 360px;
				height: 200px;
				margin: 10px 20px;
				border-collapse: collapse;
				border: 0px;
			}
			
				.text_edit_popup_content td
				{
					border: 0px;
					padding: 2px 0px 2px 0px;
				}
				
				.text_edit_popup_content td label
				{
					font-size: 13px;
					font-weight: bold;
					color: #000000;
					text-align: left;
					height: 18px;
				}
			
			.text_edit_popup_buttons
			{
				position: relative;
				height: 50px;
				width: 360px;
				padding: 0px 20px;
			}
			
				.text_edit_popup_button
				{
					position: relative;
					float: right;
					margin: 10px 0px 10px 10px;
					line-height: 28px;
					border: solid 1px #ffffff;
					background-color: #ffcd16;
					padding: 0px 8px;
					cursor: pointer;
				}
				
				
