

.module
{
	position: relative;
	float: left;
	width: 510px;
	padding: 0px 15px;
}

	.module_text
	{
		
	}
	
		.module_text a
		{
			color: inherit;
		}
		
		.module_text li
		{
			padding-left: 15px;
		}
		
		.module_text h1
		{
			font-size: 1.1em;
			margin: 0px;
		}
		
		.module_text h2
		{
			font-size: 1.2em;
			margin: 0px;
		}
	
		.module_text textarea, .module_bulletpoint textarea
		{
			position: relative;
			width: 510px;
			height: 18px;
			resize: none;
			padding: 0px;
			font-size: 15px;
			overflow-y:hidden;
			vertical-align: middle;
			font-family: 'omnes_regularregular';
			border: solid 1px #000000;
			overflow: hidden;
		}
		
		.module_text_clear
		{
			position: relative;
			width: 510px;
			padding: 0px;
			border: 0px;
			font-family: 'omnes_regularregular';
		}
		
		.module_text_html
		{
			display: none;
		}
		

		
		
	.module_image
	{
		text-align: center;
	}
		
	.module_image.focus
	{
		border: solid 1px #000000;
	}
	
		.module_image img
		{
			position: relative;
			width: auto;
			vertical-align: middle;
			 max-width: 510px;
		}
		
	
	.module_gallery
	{
		min-height: 20px;
	}
	
	.module_gallery .gallery_item_holder
	{
		width:160px;
		line-height:160px;
		overflow:hidden;
		float:left;
		margin-right:5px; 
		margin-bottom:5px;
		position:relative;
		text-align: center;
		
	}
		.module_gallery .gallery_item_holder .gallery_image
		{
			max-width: 160px;
			max-height: 160px;
			vertical-align: middle;
			width: auto;
			height: auto;
		}
		
		.gallery_image_delete
		{
			position: absolute;
			top: 3px; right:3px;
			width: 20px;
			height: 20px;
			cursor: pointer;
			background-color: #d2d2d2;
			
			background-image: url('../../backend/img/icon_close.png');
			background-repeat: no-repeat;
			background-position: center center;
		}
		
	.module_download
	{
		overflow: hidden;
	}
	
		.module_download_text
		{
			position: relative;
			float: left;
			width: 380px;
			background-color: #ffcd16;
			padding: 10px 10px;
			line-height: 30px;
			min-height: 30px;
			text-align: left;
			font-family: 'omnes_regularregular';
			font-size: 14px;
		}
		
		.module_download_button
		{
			position: relative;
			float: left;
			width: 110px;
			background-color: #ffcd16;
			padding: 10px 0px;
			background-image: url('../../backend/img/icon_download.png');
			background-repeat: no-repeat;
			background-position: center center;
			height: 30px;
			cursor: pointer;
		}